<a href="https://colab.research.google.com/github/PrakC7/College-practices/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = "Alice"
age = 25
print("{} is {} years old.".format(name, age))

Alice is 25 years old.

In [4]:
product = "Python Course"
price = 99.99
print("{name} costs ${price:.2f}.".format(name=product, price=price))

Python Course costs $99.99.

In [5]:
print('India', end = ',')

India,

In [3]:
print('Namaste','India', sep = ', ')

Namaste, India

In [6]:
#Var holds the location of the value.
a= 10
print(a)

10

In [9]:
a=b=c=1
print(a,b,c)

1 1 1

In [10]:
a,b,c = 1,2,"Ram"
print(a,b,c)

1 2 Ram

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>