In [ ]:
name = "Alice"
age = 25
print("{} is {} years old.".format(name, age))

Alice is 25 years old.

In [ ]:
product = "Python Course"
price = 99.99
print("{name} costs ${price:.2f}.".format(name=product, price=price))

Python Course costs $99.99.

In [ ]:
print('India', end = ',')

India,

In [ ]:
print('Namaste','India', sep = ', ')

Namaste, India

In [ ]:
# Var holds the location of the value.
a= 10
print(a)

10

In [ ]:
a=b=c=1
print(a,b,c)

1 1 1

In [ ]:
a,b,c = 1,2,"Ram"
print(a,b,c)

1 2 Ram

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 4
b = 2.3
c = a+b
print(c)

6.3

In [ ]:
a = 2.6
c = int(a)
print(c)

2

Operators:
1.Arithmetic
2.Relational
3.Assignment
4.Logical
5.Bitwise
6.membership
7.Identify

In [ ]:
print(5//2)#Remove the integer part.

2

In [ ]:
# To compare we use relational operators.(==,!,etc) (True/False)

In [ ]:
# Short hand notations.(+=,-=,*=,/=)
# Cannot use a += b+c.

In [ ]:
# For bits we use bitwise operators.(&(AND), |(OR), ^(XOR), ~(Complement), <<(Bitwise left shift)(value*2^number of left shifts), >>(Bitwise right shift(value/2^n))

In [ ]:
# Membership (in, not in) (True/False)

In [ ]:
# Identify (is, is not) (True/False) Two Variable can have the same memory location for the same value.

In [ ]:
age = int(input("Enter your age in years: "))
# One-Way Decision Making(Unary Decision Making)
if age >= 18:
  print("You can VOTE")
  print("Congrats!")

Enter your age in years: 18
You can VOTE
Congrats!

In [ ]:
age = int(input("Enter your age in years: "))
# One-Way Decision Making(Unary Decision Making)
if age >= 18:
  print("Eligible for voting.")
if age <= 17:
  print("Not eligible for voting.")

Enter your age in years: 17
Not eligible for voting.

In [ ]:
age = int(input("Enter your age in years: "))
# Two-Way Decision Making
if age >= 18:
  print("Eligible for voting.")
else:
  print("You can vote after",18-age,"years.")

Enter your age in years: 17
You can vote after 1 years.

In [ ]:
# Else-if
percentage = int(input("Enter your percentage: "))
# Two-Way Decision Making
if percentage >= 90:
  print("Grade A")
elif percentage >= 80:
  print("Grade B")
elif percentage >= 70:
  print("Grade C")
elif percentage >= 60:
  print("Grade D")
elif percentage >= 50:
  print("Grade E")
else:
  print("Fail")

Enter your percentage: 100
Grade A

In [ ]:
# Nested if-else
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a>b:
  if a>c:
    print(a, "is greatest.")
  else:
    print(c, "is greatest.")
else:
  if b>c:
    print(b, "is greatest.")
  else:
    print(c, "is greatest.")

Enter first number:1
Enter second number:2
Enter third number:3
3 is greatest.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a > b and a > c:
  print("%d is greatest.3" %(a))
elif b > c:
  print("%d is greatest." %(b))
else:
  print("%d is greatest." %(c))

Enter first number:1
Enter second number:1
Enter third number:1
1 is greatest.

In [ ]:
# While Loop
# Sum of first n natural numbers
num = int(input("Enter a natural number: "))
sum = 0
while num > 0:
  sum = sum + num
  num = num - 1
print("Sum of numbers:",sum)

Enter a number: 5
Sum of numbers: 15

In [ ]:
# While Loop
# Factorial
num = int(input("Enter a number: "))
sum = 1
while num > 1:
  sum = sum * num
  num = num - 1
print("Factorial:",sum)

Enter a number: 3
Factorial: 6

In [ ]:
# For Loop
# No increment required.
numbers = [10,20,5,15,25,35,30]
sum = 0
for val in numbers:
  sum = sum + val
print("Sum of numbers:",sum)

Sum of numbers: 140

In [ ]:
# Range Function.
for i in range(10):
  print(i, end = ',')

0,1,2,3,4,5,6,7,8,9,

In [ ]:
# Range Function.
for i in range(1,10):
  print(i, end = ',')

In [ ]:
# Range Function.
for i in range(1,10,2):
  print(i, end = ',')

1,3,5,7,9,

In [ ]:
# Range Function.
for i in range(1,5):
  for j in range(i):
    print(i, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
# Break Statement
numbers = [1,2,3,4,5,6,7,8,9]
num_sum = 0
count = 0
for x in numbers:
  num_sum = num_sum + x
  count = count + 1
  if count == 5:
    break
print("Sum of first",count,"integers is:",num_sum)

Sum of first 5 integers is: 15

In [ ]:
# Continue Statement
for x in range(7):
  if x==3 or x==6:
    continue
  print(x)

0
1
2
4
5

In [ ]:
# Pass Statement
def myfunction():
  pass

In [ ]:
# Pass Statement
class myclass():
  pass

In [ ]:
# String
name = 'Manmohan' # Single quotes
 # Double quotes

In [ ]:
# Access Elements of String
city = "Noida"
print(city[0]) # Base address + index * size of n (address + 0 * 1(Byte))

N

In [ ]:
# Traverse of String
city = "Noida"
for i in city:
  print(i)

N
o
i
d
a

In [ ]:
# Concatenation
c1 = "Greater"
c2 = " "
c3 = "Noida"
print(c1+c2+c3)

Greater Noida

In [ ]:
# String Slicing
str = "PYTHON"
print("str [1:5]:",str[1:5])
print("str [:6]:",str[:6])
print("str [1:]:",str[1:])
print("str [:]:",str[:])
print("str [1:20]:",str[:])

In [ ]:
# Negative Indexing
str = "Noida"
print("str [2]:",str[2])
print("str [-3]:",str[-3])

str [2] i
str [-3] i

In [ ]:
# String Slicing
str = "PYTHON"
print("str [-1]:",str[-1]) # Last character is accessed
print("str [-6]:",str[-6]) # First character is accessed
print("str [-2:]:",str[-2:]) # Last two characters are accessed
print("str [:-2]:",str[:-2]) # Except last two characters are accessed
print("str [-5:-2]:",str[-5:-2]) # Three characters are accessed

str [-1]: N
str [-6]: P
str [-2:]: ON
str [:-2]: PYTH
str [-5:-2]: YTH

In [ ]:
# First character of all the words in upper case
# str.title()
str1="my NaMe is moHIT"
print(str1.title())

My Name Is Mohit

In [ ]:
# All the characters in upper case
# str.capitalize()
str1="my NaMe is moHIT"
print(str1.capitalize())

My name is mohit

In [ ]:
# All the characters in lower case
# str.casefold()
str1="my NaMe is moHIT"
print(str1.casefold())

In [ ]:
# str.count()
str1="my NaMe is moHIT"
print(str1.count("i"))
print(str1.count("m"))

1
2

In [ ]:
# Spaces and start and end will be removed
# str.strip()
str1=" my NaMe is moHIT "
print(str1.strip())

my NaMe is moHIT

In [ ]:
# str.replace()
str1=" My name is Mohit."
print(str1.replace("Mohit","Prakhar"))

 My name is Prakhar.

In [ ]:
# str.split()
str1="My name is Prakhar"
print(str1.split())

['My', 'name', 'is', 'Prakhar']

In [105]:
# List (Ordered, Mutable, Duplicate values are allowed)
a = [1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [107]:
# Using list() for creating list
a = list(("Abhi", 10, 75))
print(a)

['Abhi', 10, 75]

In [108]:
# Using indexing in list
list1 = [1,2,3,4,5,6]
print(list1[-2])

5

In [109]:
# List slicing
list1 = [1,2,3,4,5,6,8,9,10]
print(list1[1:7:2])

[2, 4, 6]

In [111]:
# List is mutable
list1 = [1,2,3,4,5,6,8,9,10]
print("Before changing",list1)
list1 = ["a","b","c","d","e"]
print("After changing",list1)

Before changing [1, 2, 3, 4, 5, 6, 8, 9, 10]
After changing ['a', 'b', 'c', 'd', 'e']

In [123]:
# List of Cubes
list1 = []
for i in range(11):
  list1.append(i**3)
print(list1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [121]:
# List Comprehension (Elegant and short code)
cubes = [i**3 for i in range(11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [124]:
# Even numbers from a list
list1 = [1,2,3,4,5,6,8,9,10]
even = []
for i in list1:
  if i % 2 == 0:
    even.append(i)
print(even)

[2, 4, 6, 8, 10]

In [127]:
# Even numbers from a list
# Using List Comprehension
list1 = [1,2,3,4,5,6,8,9,10]
list1 = [i for i in list1 if i % 2 == 0]
print(list1)

[2, 4, 6, 8, 10]