<a href="https://colab.research.google.com/github/PrakC7/College-practices/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Alice"
age = 25
print("{} is {} years old.".format(name, age))

Alice is 25 years old.

In [ ]:
product = "Python Course"
price = 99.99
print("{name} costs ${price:.2f}.".format(name=product, price=price))

Python Course costs $99.99.

In [ ]:
print('India', end = ',')

India,

In [ ]:
print('Namaste','India', sep = ', ')

Namaste, India

In [ ]:
# Var holds the location of the value.
a= 10
print(a)

10

In [ ]:
a=b=c=1
print(a,b,c)

1 1 1

In [ ]:
a,b,c = 1,2,"Ram"
print(a,b,c)

1 2 Ram

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 4
b = 2.3
c = a+b
print(c)

6.3

In [ ]:
a = 2.6
c = int(a)
print(c)

2

Operators:
1.Arithmetic
2.Relational
3.Assignment
4.Logical
5.Bitwise
6.membership
7.Identify

In [ ]:
print(5//2)#Remove the integer part.

2

In [ ]:
# To compare we use relational operators.(==,!,etc) (True/False)

In [ ]:
# Short hand notations.(+=,-=,*=,/=)
# Cannot use a += b+c.

In [ ]:
# For bits we use bitwise operators.(&(AND), |(OR), ^(XOR), ~(Complement), <<(Bitwise left shift)(value*2^number of left shifts), >>(Bitwise right shift(value/2^n))

In [ ]:
# Membership (in, not in) (True/False)

In [ ]:
# Identify (is, is not) (True/False) Two Variable can have the same memory location for the same value.

In [22]:
age = int(input("Enter your age in years: "))
# One-Way Decision Making(Unary Decision Making)
if age >= 18:
  print("You can VOTE")
  print("Congrats!")

Enter your age in years: 18
You can VOTE
Congrats!

In [24]:
age = int(input("Enter your age in years: "))
# One-Way Decision Making(Unary Decision Making)
if age >= 18:
  print("Eligible for voting.")
if age <= 17:
  print("Not eligible for voting.")

Enter your age in years: 17
Not eligible for voting.

In [28]:
age = int(input("Enter your age in years: "))
# Two-Way Decision Making
if age >= 18:
  print("Eligible for voting.")
else:
  print("You can vote after",18-age,"years.")

Enter your age in years: 17
You can vote after 1 years.

In [32]:
# Else-if
percentage = int(input("Enter your percentage: "))
# Two-Way Decision Making
if percentage >= 90:
  print("Grade A")
elif percentage >= 80:
  print("Grade B")
elif percentage >= 70:
  print("Grade C")
elif percentage >= 60:
  print("Grade D")
elif percentage >= 50:
  print("Grade E")
else:
  print("Fail")

Enter your percentage: 100
Grade A

In [40]:
# Nested if-else
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a>b:
  if a>c:
    print(a, "is greatest.")
  else:
    print(c, "is greatest.")
else:
  if b>c:
    print(b, "is greatest.")
  else:
    print(c, "is greatest.")

Enter first number:1
Enter second number:2
Enter third number:3
3 is greatest.

In [44]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a > b and a > c:
  print("%d is greatest.3" %(a))
elif b > c:
  print("%d is greatest." %(b))
else:
  print("%d is greatest." %(c))

Enter first number:1
Enter second number:1
Enter third number:1
1 is greatest.

In [46]:
# Loops
# Sum of first n natural numbers
num = int(input("Enter a natural number: "))
sum = 0
while num > 0:
  sum = sum + num
  num = num - 1
print("Sum of numbers:",sum)

Enter a number: 5
Sum of numbers: 15

In [50]:
# Loops
# Factorial
num = int(input("Enter a number: "))
sum = 1
while num > 1:
  sum = sum * num
  num = num - 1
print("Factorial:",sum)

Enter a number: 3
Factorial: 6

In [51]:
# Loops
# No increment required.
numbers = [10,20,5,15,25,35,30]
sum = 0
for val in numbers:
  sum = sum + val
print("Sum of numbers:",sum)

Sum of numbers: 140