In [5]:
# List
words = ['hello','this', 'is', 'prakhar']
uppercase = [word.upper() for word in words]
print(uppercase)

['HELLO', 'THIS', 'IS', 'PRAKHAR']

In [1]:
# Tuple
tup = ("apple", "banana", "cherry")
print(tup)

('apple', 'banana', 'cherry')

In [3]:
# Change in tuple using list
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [6]:
# Assigning one tuple values to the other
(a,b,c) = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
# Tuple Assignment
Tup1 = (100,200,300)
(a,b,c) = Tup1
print(a,b,c)

In [7]:
# Tuple
# Membership Operator
x = ("apple", "banana", "cherry")
if "apple" in x:
  print("Yes, apple is available.")

Yes, apple is available.

In [9]:
# Length of tuple
x = ("apple", "banana", "cherry")
print(len(x))

3

In [12]:
# Joining tuples
x = ("apple", "banana", "cherry")
y = (1,2,3)
z = x+y
print(z)

('apple', 'banana', 'cherry', 1, 2, 3)
banana

In [16]:
# Deleting tuple
x = ("apple", "banana", "cherry")
del x
print(x) # This wil raise an error because the tupe no longer exists

NameError: name 'x' is not defined

In [19]:
# Defining Function
def max_min(vals):
  x = max(vals)
  y = min(vals)
  return("Max: ",x,"Min:",y)
li = [10,56,43,32,76,26]
print(max_min(li))

('Max: ', 76, 'Min:', 10)

In [20]:
# Nested Tuple
x = (1,2,3)
y = ('Python','Java','C++')
z=(x,y)
print(z)

((1, 2, 3), ('Python', 'Java', 'C++'))

In [ ]:
# Sets
x = {"apple", "banana", "cherry"}
print(x)

In [21]:
# Sets
x = {"apple", "banana", "cherry"}
for x in x:
  print(x)

cherry
banana
apple

In [ ]:
# Removing Elements.
y = {'Python','Java','C++'}
y.remove("Java")
print(y)

In [29]:
# Dictionaries
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [35]:
# Function Definition
def findsum(a,b): # def Keyword parenthesis name function block
  result = a+b
  return result
x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
z = findsum(x,y) # Function call x,y are called actual arguments and a,b are called formal arguments
print("Sum:",z)

Enter first number: 12
Enter second number: 12
Sum: 24.0

In [36]:
# Function Definition
def arithmetic(a,b): # def Keyword parenthesis name function block
  add = a+b
  sub = a-b
  multiply = a*b
  div = a/b
  return add,sub,multiply,div

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
z = arithmetic(x,y) # Function call x,y are called actual arguments and a,b are called formal arguments
print(z)

Enter first number: 12
Enter second number: 1
(13.0, 11.0, 12.0, 12.0)

In [40]:
# Positional Arguments
def candidate_name(a,b):
  print(f"Candidate Name: {a.title()} {b.title()}")
x = str(input("Enter first name: "))
y = str(input("Enter last name: "))
z = candidate_name(x,y)
print(z)

Enter first name: hi
Enter last name: bye
Candidate Name: Hi Bye
None

In [45]:
# Default Arguments
def candidate_name1(a,b="Kumar"):
  print(f"Candidate Name: {a.title()} {b.title()}")
x = str(input("Enter first name: "))
y = str(input("Enter last name: "))
z = candidate_name1("Akash")
print(z)

Enter first name: alok
Enter last name: singh
Candidate Name: Akash Kumar
None

In [ ]:
# Default Arguments
def candidate_name2(a,b="Kumar"):
  print(f"Candidate Name: {a.title()} {b.title()}")
x = str(input("Enter first name: "))
y = str(input("Enter last name: "))
z = candidate_name2("Akash",y)
print(z)

In [50]:

def sum_num(a,*b):
  result = a
  for i in b:
    result +=i
  return result

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
z = sum_num(x,y)
print(z)

Enter first number: 1
Enter first number: 1
Enter first number: 1
2.0

In [56]:
# Recursion Conditions:
# 1.Base Case 2.Recursive Condition
def fact(n):
  if n == 1:
    return 1
  else:
    return n*fact(n-1)
num = int(input("Enter number: "))
print(fact(num))

Enter number: 5
120

In [57]:
# Program = soul and process = body
# process have a structure like (heap, stack, global, .exe) up to down
# Activation record created for function call containing variables and

In [60]:
# Anonymous/Lambda Function
result = lambda num1, num2, num3: num1+num2+num3
num1 = float(input("Enter number:"))
num2 = float(input("Enter number:"))
num3 = float(input("Enter number:"))
print(result(num1,num2,num31))

Enter number:12
Enter number:2
Enter number:2
16.0

In [69]:
# Define a List of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

# Define a function to check if a number is even
def is_even(n):
  if n%2==0:
    return True
  return False

#
even_numbers=filter(is_even, numbers)

# Convert the filter object to a list
even_numbers_list = list(even_numbers)

print(even_numbers_list)

[2, 4, 6, 8, 10]

In [61]:
# Define a List of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

#  Use filter with alambda function to get even numbers
even_numbers=filter(lambda n: n%2 == 0, numbers)

# Convert the filter object to a list
even_numbers_list = list(even_numbers)

print(even_numbers_list)

[2, 4, 6, 8, 10]

In [65]:
# Mapping
num_list = [10,5,12,78,6,1,7,9]
cube_list = list(map(lambda x: x**3,num_list))
print(cube_list)

[1000, 125, 1728, 474552, 216, 1, 343, 729]

In [66]:
# Largest Number
from functools import reduce
num_list = [20,12,52,22,72,19,7]
large = reduce(lambda x,y:x if x>y else y,num_list)
print(large)

72

In [ ]:
# Largest Number
from functools import reduce

#Define a List of numbers
num = [20,12,52,22,72,19,7]
large = reduce(lambda x,y:x if x>y else y,num)
print(large)

In [68]:
# Shopping Cart System
cart = {}
def add_item(name, price=100, qty=1):
  cart[name] = cart.get(name, 0)+qty
  print(f"Added {qty} x {name}")

fo3r i in range(3):
  add_item(input("Item:"), qty=int(input("qty:")))
print(cart)

Item:1
qty:1
Added 1 x 1
Item:1
qty:1
Added 1 x 1
Item:2
qty:3
Added 3 x 2
{'1': 2, '2': 3}