In [ ]:
# Book Details
class Book:
  def __init__(self,title,author,pages):
    self.title = title
    self.author = author
    self.pages = pages

  def details(self):
    print("Title name:",self.title)
    print("Author name:",self.author)
    print("Number 0f pages:",self.pages)

b1 = Book("Python", "Balagauswamy", 400)
b1.details()

Title name: Python
Author name: Balagauswamy
Number 0f pages: 400

In [ ]:
# Employee Details
class Employee:
  company_name = 'Tech Mahindra'

  def __init__(self,Employee_name,ID):
    self.Employee_name = Employee_name
    self.ID = ID

  def details(self):
    print("Company Name:",Employee.company_name)
    print("Employee Name:",self.Employee_name)
    print("ID Name:",self.ID)

E1 = Employee("Alok", "ABC123")
E1.details()

Company Name: Tech Mahindra
Employee Name: Alok
ID Name: ABC123

In [ ]:
# Cicle area and Circumference
import math

class Circle:
  def __init__(self, radius):
    self.radius = radius

  def area(self):
    return math.pi * self.radius ** 2

  def circumference(self):
    return 2*math.pi * self.radius

c1 = Circle(5)
print("Area of circle:",c1.area())
print("Circumference of circle:",c1.circumference())

Area of circle: 78.53981633974483
Circumference of circle: 31.41592653589793

In [ ]:
# Student Details
class Student:
  college_name = "Noida Institute of Engineering & Technology"

  def __init__(self,name,student_ID):
    self.name = name
    self.student_ID = student_ID

  @classmethod
  def change_cname(cls, new_name):
    cls.college_name = new_name

  def details(self):
    print("College name:",Student.college_name)
    print("Student name:",self.name)
    print("Student ID:",self.student_ID)

s1 = Student("Priyanshu","0241CSAI120")
s1.details()

Student.change_cname("Indian Institute of Technology")

s2 = Student("Ved Prakash","001")
s2.details()

College name: Noida Institute of Engineering & Technology
Student name: Priyanshu
Student ID: 0241CSAI120
College name: Indian Institute of Technology
Student name: Ved Prakash
Student ID: 001

In [ ]:
# Movie Details
class Movie:
  def __init__(self,title='Unknown',director='Unknown',rating=0.0):
    self.title = title
    self.director = director
    self.rating = rating

  def details(self):
    print("Movie:",self.title)
    print("Director:",self.director)
    print("Rating:",self.rating)

#Parametrized Constructor
m1 = Movie("Kung Fu Panda","Mark Osborne, John Stevenson", 7.6)
m1.details()

print("")

#Default Constructor
m2 = Movie()
m2.details()

Movie: Kung Fu Panda
Director: Mark Osborne, John Stevenson
Rating: 7.6

Movie: Unknown
Director: Unknown
Rating: 0.0

In [ ]:
# Bank Account Details

class BankAccount():
  bank_name = "Default Bank"

  def __init__(self,account_holder,balance=0):
    self.account_holder = account_holder
    self.balance = balance

  def deposit(self, amount):
    if 0 < amount:
      self.balance  += amount
      print("Deposited Amount: {}\nCurrent Balance {}".format(amount,self.balance))
    else:
      print("Deposited Amount: 0\nCurrent Balance {}".format(self.balance))

  def withdraw(self, amount):
    if 0 < amount <= self.balance:
      self.balance  -= amount
      print("Widrawn Amount: {}\nCurrent Balance {}".format(amount,self.balance))
    else:
      print("Insufficient balance\nCurrent Balance {}".format(self.balance))

  @classmethod
  def change_bank_name(cls, new_name):
    cls.bank_name = new_name


  def details(self):
    print("Bank Name:",BankAccount.bank_name)
    print("Account Holder:",self.account_holder)
    print("Balance:",self.balance)

  @staticmethod
  def validate_account(account_number):
    if isinstance(BankAccount.bank_account, int) and len(BankAccount.bank_account) == 10:
      print("Account is validated.")
      return True
    else:
      print("Account is invalid.")
    return False

a1 = BankAccount("Priyanshu",179000)
a1.details()

Bank Name: Default Bank
Account Holder: Priyanshu
Balance: 179000

In [ ]:
# Magic Methods initialize automatically work inside the code itself
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# __add__ Magic Method
st = 10
x = st.__add__(5)
print(x)

15

In [ ]:
# __add__ Magic Method
st = '10'
x = st.__add__('5')
print(x)

105

In [ ]:
# Mass in kg + g
class Mass:
  def __init__(self, kg=0, g=0):
    self.kg = kg + g // 1000
    self.g = g % 1000

  def __add__(self, other):
    total_kg = self.kg + other.kg
    total_g = self.g + other.g

    if total_g >= 1000:
      total_kg += total_g // 1000
      total_g = total_g % 1000

    return Mass(total_kg, total_g)

  def __repr__(self):
    return f"Mass: {self.kg}kg, {self.g}g."

# Example Usage
mass1 = Mass(2, 500)
mass2 = Mass(1, 250)
mass3 = mass1 + mass2
print(mass3)

Mass: 3kg, 750g.

In [ ]:
# Comparision between two numbers
class Student:
  def __init__(self, m1, m2):
    self.m1 = m1
    self.m2 = m2

  def __gt__(self, other):
    r1 = self.m1 + self.m2
    r2 = other.m1 + other.m2

    if r1 > r2:
      return True
    else:
      return False

s1 = Student(58, 69)
s2 = Student(69, 65)

if s1 >s2:
  print("s1 is greater.")
else:
  print("s2 is greater.")

s2 is greater.

In [ ]:
# __str__ Magic method
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def __str__(self):
    return ("Name: {}\nAge: {}".format(self.name, self.age))

p = Person("Mohit",35)
print(p)

Name: Mohit
Age: 35

In [ ]:
# __new__ Method
class Person:
  def __new__(self):
    print("This is a new method.")
    self.__init__(self)

  def __init__(self):
    print("__init__ method.")

p = Person()

This is a new method.
__init__ method.

In [ ]:
# __new__ Method is called  at first then it automatically calls the __init__ Method.
class Person:
  def __init__(self):
    print("__init__ method.")

  def __new__(self):
    print("This is a new method.")
    self.__init__(self)

p = Person()

This is a new method.
__init__ method.

In [ ]:
# Object as an Argument
class MyClass:
  def __init__(self, value):
    self.value = value

def print_value(obj):
  print(f"The value is: {obj.value}")

obj = MyClass(10)
print_value(obj)

The value is: 10

In [ ]:
# Passing other class object to other class
class Person:
  def __init__(self,name):
    self.name = name

  def __repr__(self):
    return f"Person({self.name})"

class Greeting:
  def generate_greeting(self, person):
    return f"Hello, {person.name}! Welcome!"

person = Person("Alice")
greeting = Greeting()

message = greeting.generate_greeting(person)
print(message)

Hello, Alice! Welcome!

In [ ]:
# Object is created by a function.
class MyClass:
  def __init__(self, value):
    self.value = value

def create_object(value):
  return MyClass(value)

obj = create_object(10)
print(obj.value)

10

In [ ]:
# Rectangle Area
class Rectangle:
  def __init__(self,width,height):
    self.width = width
    self.height = height

  def area(self):
    return self.width * self.height

  def combine(self,other):
    new_area = self.area() + other.area()
    new_width = self.width
    new_height = new_area / new_width
    return Rectangle(new_width, new_height)

  def __repr__(self):
    return f"Rectangle(width={self.width},height={self.height})"

rect1 = Rectangle(4, 5)
rect2 = Rectangle(3, 6)

combined_rect = rect1.combine(rect2)
print(combined_rect)

Rectangle(width=4,height=9.5)

In [ ]:
# Local Namespace (within a function) (until the function execution)
def my_func():
  zebra= 5
  print(5)

my_func()

print(zebra) # Here will give an error of not defined

5

NameError: name 'zebra' is not defined

In [ ]:
# Enclosing(Non-local) Namespace (within a function) (until the function execution)
def outer_function():
  x = 20

  def inner_function():
    print(x) # Accessimg variable from the enclosig(outer) namespace
  inner_function()

outer_function()

20

In [ ]:
# Enclosing(Non-local) Namespace (within a function) (until the function execution)
def outer_function():
  x = 20

  def inner_function():
    nonlocal x
    print(x) # Accessimg variable from the enclosig(outer) namespace
  inner_function()

outer_function()

20

In [ ]:
# Global Namespace (within a program) (until the program execution)
x = 50

def my_func():
  print(x) # Accessing variable from the global namespace

my_func()
print(x)

50
50

In [ ]:
# Bulit-in Namespace (No scope) (No life)
print(len([1,2,3]))

3