In [4]:
# Book Details
class Book:
  def __init__(self,title,author,pages):
    self.title = title
    self.author = author
    self.pages = pages

  def details(self):
    print("Title name:",self.title)
    print("Author name:",self.author)
    print("Number 0f pages:",self.pages)

b1 = Book("Python", "Balagauswamy", 400)
b1.details()

Title name: Python
Author name: Balagauswamy
Number 0f pages: 400

In [10]:
# Employee Details
class Employee:
  company_name = 'Tech Mahindra'

  def __init__(self,Employee_name,ID):
    self.Employee_name = Employee_name
    self.ID = ID

  def details(self):
    print("Company Name:",Employee.company_name)
    print("Employee Name:",self.Employee_name)
    print("ID Name:",self.ID)

E1 = Employee("Alok", "ABC123")
E1.details()

Company Name: Tech Mahindra
Employee Name: Alok
ID Name: ABC123

In [12]:
# Cicle area and Circumference
import math

class Circle:
  def __init__(self, radius):
    self.radius = radius

  def area(self):
    return math.pi * self.radius ** 2

  def circumference(self):
    return 2*math.pi * self.radius

c1 = Circle(5)
print("Area of circle:",c1.area())
print("Circumference of circle:",c1.circumference())

Area of circle: 78.53981633974483
Circumference of circle: 31.41592653589793

In [21]:
# Student Details
class Student:
  college_name = "Noida Institute of Engineering & Technology"

  def __init__(self,name,student_ID):
    self.name = name
    self.student_ID = student_ID

  @classmethod
  def change_cname(cls, new_name):
    cls.college_name = new_name

  def details(self):
    print("College name:",Student.college_name)
    print("Student name:",self.name)
    print("Student ID:",self.student_ID)

s1 = Student("Priyanshu","0241CSAI120")
s1.details()

Student.change_cname("Indian Institute of Technology")

s2 = Student("Ved Prakash","001")
s2.details()

College name: Noida Institute of Engineering & Technology
Student name: Priyanshu
Student ID: 0241CSAI120
College name: Indian Institute of Technology
Student name: Ved Prakash
Student ID: 001

In [25]:
# Movie Details
class Movie:
  def __init__(self,title='Unknown',director='Unknown',rating=0.0):
    self.title = title
    self.director = director
    self.rating = rating

  def details(self):
    print("Movie:",self.title)
    print("Director:",self.director)
    print("Rating:",self.rating)

#Parametrized Constructor
m1 = Movie("Kung Fu Panda","Mark Osborne, John Stevenson", 7.6)
m1.details()

print("")

#Default Constructor
m2 = Movie()
m2.details()

Movie: Kung Fu Panda
Director: Mark Osborne, John Stevenson
Rating: 7.6

Movie: Unknown
Director: Unknown
Rating: 0.0

In [27]:
# Bank Account Details

class BankAccount():
  bank_name = "Default Bank"

  def __init__(self,account_holder,balance=0):
    self.account_holder = account_holder
    self.balance = balance

  def deposit(self, amount):
    if 0 < amount:
      self.balance  += amount
      print("Deposited Amount: {}\nCurrent Balance {}".format(amount,self.balance))
    else:
      print("Deposited Amount: 0\nCurrent Balance {}".format(self.balance))

  def withdraw(self, amount):
    if 0 < amount <= self.balance:
      self.balance  -= amount
      print("Widrawn Amount: {}\nCurrent Balance {}".format(amount,self.balance))
    else:
      print("Insufficient balance\nCurrent Balance {}".format(self.balance))

  @classmethod
  def change_bank_name(cls, new_name):
    cls.bank_name = new_name


  def details(self):
    print("Bank Name:",BankAccount.bank_name)
    print("Account Holder:",self.account_holder)
    print("Balance:",self.balance)

  @staticmethod
  def validate_account(account_number):
    if isinstance(BankAccount.bank_account, int) and len(BankAccount.bank_account) == 10:
      print("Account is validated.")
      return True
    else:
      print("Account is invalid.")
    return False

a1 = BankAccount("Priyanshu",179000)
a1.details()

Bank Name: Default Bank
Account Holder: Priyanshu
Balance: 179000