In [ ]:
# List
words = ['hello','this', 'is', 'prakhar']
uppercase = [word.upper() for word in words]
print(uppercase)

['HELLO', 'THIS', 'IS', 'PRAKHAR']

In [ ]:
# Tuple
tup = ("apple", "banana", "cherry")
print(tup)

('apple', 'banana', 'cherry')

In [ ]:
# Change in tuple using list
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
# Assigning one tuple values to the other
(a,b,c) = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
# Tuple Assignment
Tup1 = (100,200,300)
(a,b,c) = Tup1
print(a,b,c)

100 200 300

In [ ]:
# Tuple
# Membership Operator
x = ("apple", "banana", "cherry")
if "apple" in x:
  print("Yes, apple is available.")

Yes, apple is available.

In [ ]:
# Length of tuple
x = ("apple", "banana", "cherry")
print(len(x))

3

In [ ]:
# Joining tuples
x = ("apple", "banana", "cherry")
y = (1,2,3)
z = x+y
print(z)

('apple', 'banana', 'cherry', 1, 2, 3)

In [ ]:
# Deleting tuple
x = ("apple", "banana", "cherry")
del x
print(x) # This wil raise an error because the tupe no longer exists

NameError: name 'x' is not defined

In [ ]:
# Defining Function
def max_min(vals):
  x = max(vals)
  y = min(vals)
  return("Max: ",x,"Min:",y)
li = [10,56,43,32,76,26]
print(max_min(li))

In [ ]:
# Nested Tuple
x = (1,2,3)
y = ('Python','Java','C++')
z=(x,y)
print(z)

In [ ]:
# Sets
x = {"apple", "banana", "cherry"}
print(x)

In [ ]:
# Sets
x = {"apple", "banana", "cherry"}
for x in x:
  print(x)

In [ ]:
# Removing Elements.
y = {'Python','Java','C++'}
y.remove("Java")
print(y)

In [ ]:
# Dictionaries
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict1)

In [ ]:
# Function Definition
def findsum(a,b): # def Keyword parenthesis name function block
  result = a+b
  return result
x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
z = findsum(x,y) # Function call x,y are called actual arguments and a,b are called formal arguments
print("Sum:",z)

In [ ]:
# Function Definition
def arithmetic(a,b): # def Keyword parenthesis name function block
  add = a+b
  sub = a-b
  multiply = a*b
  div = a/b
  return add,sub,multiply,div

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
z = arithmetic(x,y) # Function call x,y are called actual arguments and a,b are called formal arguments
print(z)

In [ ]:
# Positional Arguments
def candidate_name(a,b):
  print(f"Candidate Name: {a.title()} {b.title()}")
x = str(input("Enter first name: "))
y = str(input("Enter last name: "))
z = candidate_name(x,y)
print(z)

In [ ]:
# Default Arguments
def candidate_name1(a,b="Kumar"):
  print(f"Candidate Name: {a.title()} {b.title()}")
x = str(input("Enter first name: "))
y = str(input("Enter last name: "))
z = candidate_name1("Akash")
print(z)

In [ ]:
# Default Arguments
def candidate_name2(a,b="Kumar"):
  print(f"Candidate Name: {a.title()} {b.title()}")
x = str(input("Enter first name: "))
y = str(input("Enter last name: "))
z = candidate_name2("Akash",y)
print(z)

In [ ]:

def sum_num(a,*b):
  result = a
  for i in b:
    result +=i
  return result

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
z = sum_num(x,y)
print(z)

In [ ]:
# Recursion Conditions:
# 1.Base Case 2.Recursive Condition
def fact(n):
  if n == 1:
    return 1
  else:
    return n*fact(n-1)
num = int(input("Enter number: "))
print(fact(num))

In [ ]:
# Program = soul and process = body
# process have a structure like (heap, stack, global, .exe) up to down
# Activation record created for function call containing variables and

In [ ]:
# Anonymous/Lambda Function
result = lambda num1, num2, num3: num1+num2+num3
num1 = float(input("Enter number:"))
num2 = float(input("Enter number:"))
num3 = float(input("Enter number:"))
print(result(num1,num2,num31))

In [ ]:
# Define a List of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

# Define a function to check if a number is even
def is_even(n):
  if n%2==0:
    return True
  return False

# Use filter to get even numbers
even_numbers=filter(is_even, numbers)

# Convert the filter object to a list
even_numbers_list = list(even_numbers)

print(even_numbers_list)

In [ ]:
# Define a List of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

#  Use filter with alambda function to get even numbers
even_numbers=filter(lambda n: n%2 == 0, numbers)

# Convert the filter object to a list
even_numbers_list = list(even_numbers)

print(even_numbers_list)

In [ ]:
# Mapping
num_list = [10,5,12,78,6,1,7,9]
cube_list = list(map(lambda x: x**3,num_list))
print(cube_list)

In [ ]:
# Largest Number
from functools import reduce
num_list = [20,12,52,22,72,19,7]
large = reduce(lambda x,y:x if x>y else y,num_list)
print(large)

In [ ]:
# Largest Number
from functools import reduce

#Define a List of numbers
num = [20,12,52,22,72,19,7]
large = reduce(lambda x,y:x if x>y else y,num)
print(large)

In [ ]:
# Shopping Cart System
cart = {}
def add_item(name, price=100, qty=1):
  cart[name] = cart.get(name, 0)+qty
  print(f"Added {qty} x {name}")

for i in range(3):
  add_item(input("Item:"), qty=int(input("qty:")))
print(cart)

In [ ]:
# Class
class Greeting:
  message = "Hello, World!" # Class variable

  def say_hello(self): # Class method
    print(self.message)

# Create an object
greet = Greeting() # Object Creation
greet.say_hello()

Hello, World!

In [ ]:
# __init__() Method (Class initialise for specified object.)
# Class Variable
class Person:
  def __init__(self, name, age, gender): # __init__ is constructors.
    self.name = name # Instance variable
    self.age = age
    self.gender = gender
  def show_details(self):
    print('The name is {}, age is {} and gender is {}'.format(self.name,self.age,self.gender))

# Create an object of person class
p1 = Person('Nimit',35,'Male')
p1.show_details()

The name is Nimit, age is 35 and gender is Male

In [ ]:
# Object Variable
class Car:
  wheel = 4 # Class Variable
  def __init__(self, name): # __init__ is constructors.
    self.name = name # Instance variable

mercedes = Car("mercedes")
print(mercedes.wheel) # Access of class variable through object.
print(Car.wheel) # Access of class variable through class.
print(mercedes.name) # Access of instance variable through object.

4
4
mercedes

In [ ]:
# Object Variable
class Employee:
  office_name = "ABC Corporation" # Class Variable
  def __init__(self, name, designation): # __init__ is constructors.
    self.name = name # Instance variable
    self.designation = designation
  def show_details(self):
    print(F" Company Name: {Employee.office_name}\n Name: {self.name} \n Designation: {self.designation}")

emp1 = Employee("Mohit","Tester")
emp1.show_details()

 Company Name: ABC Corporation
 Name: Mohit
 Designation: Tester

In [ ]:
# Change in class variable will reflect to all the objects.
# Change in object variable will not reflect to all the objects, but only to the object.

In [ ]:
# Class Variable
class Person:
  def __init__(self, name, age): # __init__ is constructors.
    self.name = name # Instance variable
    self.age = age
  def myfunc(abc):
    print("Hello my name is " + abc.name + ".")

p1 = Person("John",36)
p1.myfunc()

In [ ]:
# Separating Odds and Evens
class Number:
  evens = []
  odds = []
  def __init__(self, num): # __init__ is constructors.
    self.num = num
    if num % 2 == 0:
      Number.evens.append(num)
    else:
      Number.odds.append(num)

N1 = Number(21)
N2 = Number(32)
N3 = Number(43)
N4 = Number(54)
N5 = Number(65)

print("Even numbers are:",Number.evens)
print("Odd numbers are:",Number.odds)

Even numbers are; [32, 54]
Odd numbers are; [21, 43, 65]

In [ ]:
# __str__() Method (What have to be printed for specified object.)
class Person:
  def __init__(self, name, age): # __init__ is constructors.
    self.name = name # Instance variable
    self.age = age

  def __str__(self): # __str__ is constructors.
    return 'The name is {}, age is {}.'.format(self.name,self.age)

  def show_details(self):
    print('The name is {}, age is {}.'.format(self.name,self.age))

# Create an object of person class
p = Person('Amit',35)
print(p)

The name is Amit, age is 35.

In [ ]:
# Object Variable
class Employee:
  office_name = "ABC Corporation" # Class Variable
  def __init__(self, name, position, salary): # __init__ is constructors.
    self.name = name # Instance variable
    self.position = position
    self.salary = salary

#Instance method to dispay employee details
  def display_details(self):
    print(F" Employee Details:\n Name: {self.name}\nPosition: {self.position}\nSalary: {self.salary}")

#Instance method to give raise of 5000
  def display_details(self):
    print(F" Employee Details:\n Name: {self.name}\nPosition: {self.position}\nSalary: {self.salary}")

#Instance method to update the employee's position
  def update_position(self, new_position):
    print(F" Employee Details:\n Name: {self.name}\nPosition: {self.position}\nSalary: {self.salary}")

# Creating an instance of Employee
employee

emp1 = Employee("Mohit","Tester")
emp1.show_details()

In [ ]:
class Student:
  counter = 0
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks
    Student.counter = Student.counter + 1

  def msg(self):
    print("Hello "+self.name + " you got ", self.marks, "% marks")
  @classmethod # Decorator
  def object_count(cls):
    return cls.counter

s1 = Student("Abishek", 65)
s2 = Student("Amit", 89)

print(Student.object_count())
print(s1.object_count())

2
2

In [ ]:
# Static Method (Class state cannot be changed by this method like its variables.)
class MathOperations:
  @staticmethod
  def add_numbers(a,b):
      return a + b

  @staticmethod
  def subtract_numbers(a,b):
      return a - b

obj = MathOperations()
result_add = MathOperations.add_numbers(10,5) # called by className
result_subtract = MathOperations.subtract_numbers(10,5) # called by objectName

print(f"Addition: {result_add}")
print(f"Subtraction: {result_subtract}")

Addition: 15
Subtraction: 5

In [ ]:
# Default Constructor (without any constructer initialisation starts autoatically)
# Parametric Constructor (with any constructer)

In [ ]:
class Student:
  def __init__(self):
    print("The First Constructor")
  def __init__(self):
    print("The Second Constructor")
st = Student()

The Second Constructor

In [ ]:
class Person:
  def __init__(self, name, age): # __init__ is constructors.
    self.name = name # Instance variable
    self.age = age

# Create on instane of person
person = Person("Alice",30)

# Use getattr to get the value of an attribute
name = getattr(person, "name")
print(f"Name: {name}") # Output: Name: Alice

# Use setattr to set the value of an attribute
setattr(person, "age", 31)
print(f"Updated Age: {person.age}") # Output: Updated Age: 31

# Use hasattr to get the value of an attribute
has_name = hasattr(person, "name")
print(f"Has attribute 'name: {has_name}") # Output: Has attribute 'name':True

# Use delattr to delete an attribute
delattr(person, "age")

# Check if theattribute 'age' still exists after deletion
has_age = hasattr(person,"age")
print(f"Has attribute 'age' after del") # Output: Has attribute 'age' after deletion; False

Name: Alice
Updated Age: 31
Has attribute 'name: True
Has attribute 'age' after del